.normal{
    background-color: pink;
    font-size: 40px;
}
#idnm1{
    color: blue;
    font-size: 60px;
}
#idnm2{
    background-color: chartreuse;
    font-size: 40px;
    font-weight: 700;
}
.normal2{
    background-color:  pink;
    font-size: 50px;

}